body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}

.wrap-map {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#map {
  width: 100%;
  height: 70vh;

  .js-wrap-iw {
    &.active {
      z-index: 3 !important;
      // icon
      .wrap-gm-icon {
        img {
          transition: transform 0.3s;
          transform: scale(1.2, 1.2);
        }
      }
      // info-window
      .info-window-maps {
        transition: all 0.6s;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  // icon
  .wrap-gm-icon {
    @include flex-center();
    margin-top: 0;
  }

  img {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  // info-window
  .gm-ui-hover-effect {
    display: none !important;
  }

  .gm-style-iw {
    height: 140px;
    width: 192px !important;
  }

  .gm-style {
    .gm-style-iw-t::after{
      content:unset;
    }
    .gm-style-iw-c {
      background: transparent;
      box-shadow: unset;
     padding-left: unset;
    }
  } 

  .gm-style-iw-d{
    overflow: unset !important;
  }
  .info-window-content {
    height: 160px;
    width: 180px;
    position: absolute;
  }

  // text info window
  .info-window-maps {
    position: relative;
    top: -2px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    background-color: #f9f9f9;
    height: 64px;
    box-sizing: border-box;
    border: 3px solid #378e21;
    border-radius: 5px;
    color: #483f34;
    cursor: pointer;
  }

  .title-map,
  .button-go-to {
    @include flex-center();
    position: relative;
    top: 0;
  }

  .title-map {
    top: 1px;
  }

  .button-go-to {
    top: -2px;
    color: #000000;
    font-weight: 800;
    font-size: 11px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen {
  @media (max-width: 500px) {
    #map {
      height: 100vh;
      .button-go-to {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 800px) and (orientation : landscape) {
    #map {
      height: 100vh;
      .button-go-to {
        text-decoration: underline;
      }
    }
  }
}
